doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'CloudStorage'
    body
        include src/components/components
        +header
        .row
            +sidebar
            .row__col
                +subheader