extends ../template

block variables
    - const title = 'Регистрация'

block content
    +header(false)
    section.main
        .form
            a.form__logoWrapper
                img.form__logo(src= require('@/assets/logo.svg') alt='logo')
                span CloudStorage
            +input(false, text, 'Username')
            +input(false, email, 'E-mail')
            +input(false, password, 'Password')
            +input(false, password, 'Confirm password')
            button.form__btn Зарегистрироваться
            .form__links
                a(href='index.html') Назад
                a(href='reset.html') Забыли пароль?
            .form__social
                span Войти через:
                .form__iconsWrapper
                    a(href='#')
                        img.form__icon(src=require('@/assets/googleLogo.svg'))
                    a(href='#')
                        img.form__icon(src=require('@/assets/githubLogo.svg'))
                    a(href='#')
                        img.form__icon(src=require('@/assets/telegramLogo.svg'))