@import "../../styles/colors";

body{
  background-color: $bg;
}

.main{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  .formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $bgSub;
    padding: 40px 30px;
    border-radius: 15px;
    .formLogoWrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      .formLogoText{
        color: white;
        font-size: 18px;
        font-weight: 600;
        font-size: 24px;
      }
      .formLogo{
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
    }
    .auth-form{
      display: flex;
      flex-direction: column;
      .auth-input{
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 16px;
        background: $bgNuance;
        color: $textNuance;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 340px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
      }
      .formSubmit{
        margin-top: 20px;
        font-family: 'OpenSans';
        font-size: 16px;
        font-weight: 600;
        outline: none;
        border: none;
        color: $text;
        padding: 10px 0;
        text-align: center;
        background: $accent;
        border-radius: 5px;
      }
      .form-links{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        a{
          color: $accent;
        }
      }
      .form-socialText{
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .form-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $textNuance;
        font-weight: 600;
        font-size: 16px;
        .form-iconsWrapper{
          a{
            margin-right: 10px;
          }
          a:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }

}
