@import "@/components/variable.scss";

body{
  background-color: $bg-lightTheme-base;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $bg-lightTheme-nuance;
  padding: 40px 30px;
  border-radius: 15px;
}

.form__logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-form;
  gap: 10px;
}

.form__logo{
  height: 50px;
  width: 50px;
}


.form__btn{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  color: $bg-lightTheme-base;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: $bg-common-accent;
  border-radius: 5px;
  &:active{
    background: $bg-common-accentShadow;
  }
}

.form__links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  a{
    color: $bg-common-accent;
    text-decoration: none;
  }
}


.form__social{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-lightTheme-base;
  font-weight: 600;
  font-size: $text-accent;
  margin-top: 20px;
}
.form__iconsWrapper{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.form__iconsWrapper_noMargin{
  margin-right: 0;
}
