mixin inputAvatar (id)
    .inputAvatar
        p.inputAvatar__label Profile Photo
        label(for= id).inputAvatar__container
            .inputAvatar__inner
                p.inputAvatar__caption Choose image
        input.inputAvatar__input(type= 'file', id = id)