block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='icon' href=require('@components/header/logo.svg') type='image/svg' sizes='64x64')
        title= title
        block styles
    body
        include ../components/components
        .page
            block content