@import "../variable";

.inputSearch {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 38px;
}

.inputSearch__input {
  &:focus {
    border-color: $color-lightTheme-base;
  }

  color: $color-lightTheme-base;
  border: 2px solid $color-darkTheme-nuance;
  font-size: $text-base;
  background-image: url("@/assets/icons/loop.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 0 38px;
  width: 100%;
  border-radius: 8px;
}

.inputSearch__settings {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  right: 10px;
}