mixin inputSearch
    .inputSearch
        input.inputSearch__input(type= 'text' placeholder= 'Search')
        .inputSearch__settings
            img(src= require('@components/inputSearch/_theme/_light/extendedSettings.svg'))