include ../inputText/inputText
include ../inputSubmit/inputSubmit
include ../inputAvatar/inputAvatar

mixin accountModal
    .accountModal
        span.accountModal__label Profile
        form.accountModal__form
            +inputAvatar('input_avatar')
            +inputText(true,'text','Enter Username','input_username', 'Username').inputWrapper__input_username
            +inputText(true,'email','Enter E-mail','input_email', 'E-mail').inputWrapper__input_email
            +inputText(true,'password','Enter Password','input_password_old', 'Old Password').inputWrapper__input_password
            +inputText(true,'password','Enter Password','input_password_new', 'New Password').inputWrapper__input_password
            +inputSubmit('Save')