mixin input (hasLabel, type, placeholder, id)
    if (hasLabel)
        .inputWrapper
            label(for= id)



mixin accountModal
    .accountModal
        span.accountModal__title Profile
        .accountModal__content
