include ../inputSearch/inputSearch

mixin header__btn (type, icon)
    .header__btn(class= type)
        img(src= require(`@/components/header/_theme/_light/${icon}.svg`) alt=`${type}`)

mixin header__logo
    a.header__logo
        img(src= require('@components/header/logo.svg') alt='logo')
        span.header__title CloudStorage

mixin header (authorized=true)
    header
        .header__col.col1
            +header__logo
        if authorized
            .header__col.col2
                +inputSearch
        .header__col.col3
            +header__btn('theme','moon')
            if authorized
                +header__btn('profile','profile')