include accountModal/accountModal.pug
include header/header.pug
include inputAvatar/inputAvatar.pug
include inputSearch/inputSearch.pug
include inputSubmit/inputSubmit.pug
include inputText/inputText.pug
include sidebar/sidebar.pug
include subHeader/subHeader.pug
