@import "@/assets/fonts/openSans.css";

//Text Size Styles
$text-nuance: 12px;
$text-base: 14px;
$text-accent: 16px;
$text-form: 24px;

//Common Backgrounds Styles
$bg-common-accent: #6D77FA;
$bg-common-accentShadow: #4E56BB;
$bg-common-transparent: rgba(135,135,135,0.2);

//Dark Theme Styles
$bg-darkTheme-sub: #212B36;
$bg-darkTheme-nuance: #2C3B4B;
$bg-darkTheme-base: #161C24;
$color-darkTheme-nuance: #9E9D9D;
$color-darkTheme-base: #FFFFFF;

//Light Theme Styles
$bg-lightTheme-nuance: #ECF5FF;
$bg-lightTheme-base: #FFFFFF;
$color-lightTheme-nuance: #D9D9D9;
$color-lightTheme-base: #212B36;