@import "../variable";

.sidebar {
  padding: 20px;
  max-width: 283px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.sidebar__links {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .links__link {
    &:hover {
      background: $bg-common-transparent;
      cursor: pointer;
    }
    color: $color-lightTheme-base;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    font-size: $text-base;
  }
}

.sidebar__wrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.sidebar__storage {
  display: grid;
  align-items: center;
  justify-items: center;
  background: $bg-lightTheme-nuance;
  width: 100%;
  padding: 25px 20px;
  gap: 10px;
  border-radius: 10px;
  font-size: $text-base;
}

.sidebar__indicator {
  border-radius: 20px;
  flex-grow: 1;
  height: 7px;
  width: 100%;
  background: $bg-lightTheme-base;
}

.sidebar__track {
  border-radius: 20px;
  width: 95%;
  height: 100%;
  background: $bg-common-accent;
}