mixin inputText (hasLabel = false, type, placeholder, id, label)
    .inputText
        if (hasLabel)
            label(for= id).inputText__label #{label}
        input.inputText__input(type= type, placeholder= placeholder, id= id)