doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'CloudStorage'
    body.page
        include ../../components/components
        +header
        .page__row
            +sidebar
            .page__col
                +subheader

